# Compiled binary addons (https://nodejs.org/api/addons.html)
dist/

# Dependency directories
node_modules/

# firebase
firebase-debug.log
firebaseconfig/
.firebaserc
firebase.json
**/firebaseInit.ts


# Aux build
package-lock.json
#package.json
#tsconfig.json
src/model/services/util/firebaseInit.ts

